.main_container {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 1vw;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
  width: 70%;
}

.addresses {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
}

.hashing {
  width: 90%;
  margin: 0vw;
  padding: 1vh;
}

.text {
  font-size: 2vh;
}
