.main_container {
  margin-top: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.addresses {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
}

.hashing {
  width: 90%;
  margin: 0vw;
  padding: 1vh;
}
