.container_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2vw;
  margin-bottom: 2vh;
}

.container {
  display: flex;
  justify-content: center;
}

.title {
  width: 30vw;
  color: white;
  position: relative;
  display: inline-block;
}

.chart {
  width: 1000px;
  max-width: 1000px;
}

.button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #424242 10%,
    #121212fd 100%
  );
  border: 0px;
  border-radius: 6px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.2) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button:hover {
  transform: translateY(-2px);
}
